<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TennisVlaanderen_DAL.Properties.Settings.PublishersConnectionString" connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=Publishers;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
		<add name="PublishersEntities" connectionString="metadata=res://*/TennisVlaanderenModel.csdl|res://*/TennisVlaanderenModel.ssdl|res://*/TennisVlaanderenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MSSQLLocalDB;initial catalog=Publishers;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PublishersEntities1" connectionString="metadata=res://*/TennisVlaanderenModel.csdl|res://*/TennisVlaanderenModel.ssdl|res://*/TennisVlaanderenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MSSQLLocalDB;initial catalog=Publishers;integrated security=True;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PublishersEntities2" connectionString="metadata=res://*/TennisVlaanderenModel.csdl|res://*/TennisVlaanderenModel.ssdl|res://*/TennisVlaanderenModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localDB)\MSSQLLocalDB;initial catalog=Publishers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>